footer{
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em;
    .linkTree{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        a{
            text-decoration: none;
            color: purple;
        }
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 0.5em;
        button{
            padding: 1em;
            border-radius: 20px;
            border-style: none;
            background-color: #77206F;
            color: #fff;
        }
        h3{
            text-align: center;
            font-family: sans-serif;
            color: rgb(77, 10, 77);
        }
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        img{
            width: 3em;
            height: 3em;
        }
    }
}