footer{
    height: 200px;
    background-color: $amarillo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em;
    .linkTree{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;
        input{
            width: 80%;
            background-color: transparent;
            outline: none;
            border-style: none;
            border-bottom: 1px $violeta solid;
            color: rgb(255, 255, 255);
            font-family: cocogoose;
            text-align: center;
            font-weight: lighter;
        }
        button{
            width: 60%;
            padding: 0.5em;
            border-radius: 20px;
            border-style: none;
            background-color: #77206F;
            color: #fff;
        }
        h3{
            text-align: center;
            font-family: asap;
            color: $violeta;
            font-size: 20px;
        }
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        img{
            width: 3em;
            height: 3em;
        }
    }
}