@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: asap-semiB;
    src: url("../tipog/Asap-SemiBold.otf");
}

@font-face {
    font-family: asap;
    src: url("../tipog/Asap-Regular.otf");
}

@font-face {
    font-family: cocogoose;
    src: url("../tipog/Cocogoose\ Pro-trial.ttf");
}

//colores
$fucsia: #ec1f53;
$violeta: #66256C;
$amarillo: #edc519;

//fuentes
$texto-parrafo: 'Poppins',
sans-serif;


body {
    overflow-x: hidden;
    scroll-behavior: smooth;

    .navbar {
        position: fixed;
        width: 100%;
        height: 4.5em;
        background: none;

        .navbar-brand {
            img {
                width: 3em;
                height: auto;
            }
        }

        .navbar-nav {
            z-index: 1;

            .nav-link {
                color: $violeta;
                text-transform: uppercase;
                font-family: asap;

                &:hover {
                    border-bottom: 1px #fff solid;
                    transition-duration: 3s;
                    color: fuchsia;
                }
            }
        }

    }   
}


@import "contacto", "footer", "home", "nosotros", "servicios"