@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@font-face {
  font-family: asap-semiB;
  src: url("../tipog/Asap-SemiBold.otf");
}

@font-face {
  font-family: asap;
  src: url("../tipog/Asap-Regular.otf");
}

@font-face {
  font-family: cocogoose;
  src: url("../tipog/Cocogoose Pro-trial.ttf");
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body .navbar {
  position: fixed;
  width: 100%;
  height: 4.5em;
  background: none;
}

body .navbar .navbar-brand img {
  width: 3em;
  height: auto;
}

body .navbar .navbar-nav {
  z-index: 1;
}

body .navbar .navbar-nav .nav-link {
  color: #66256C;
  text-transform: uppercase;
  font-family: asap;
}

body .navbar .navbar-nav .nav-link:hover {
  border-bottom: 1px #fff solid;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  color: fuchsia;
}

#contacto {
  height: 670px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0%;
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
}

#contacto .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #66256C;
  border-radius: 20px;
  width: 85%;
  padding: 3em;
}

#contacto .form img {
  width: 7em;
  height: auto;
}

#contacto .form .rocket {
  width: 10em;
}

#contacto .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-radius: 20px;
  width: 60%;
}

#contacto .form form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-style: none;
  border-bottom: 1px #edc519 solid;
  color: white;
  font-family: cocogoose;
  text-align: center;
  font-weight: lighter;
}

#contacto .form form select {
  width: 100%;
  color: #938f8f;
  font-family: cocogoose;
  text-align: center;
  font-weight: lighter;
}

#contacto .form form textarea {
  width: 100%;
  color: #fff;
  font-family: cocogoose;
  text-align: center;
  font-weight: lighter;
}

#contacto .form form button {
  background-color: #ec1f53;
  border-radius: 20px;
  width: 80%;
  border-style: none;
  color: #fff;
  padding: 0.3em;
  font-family: cocogoose;
}

#contacto .form form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  height: 200px;
  background-color: #edc519;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5em;
}

footer .linkTree {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

footer .linkTree a {
  text-decoration: none;
  color: #fff;
}

footer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  gap: 1em;
}

footer .subscribe input {
  width: 80%;
  background-color: transparent;
  outline: none;
  border-style: none;
  border-bottom: 1px #66256C solid;
  color: white;
  font-family: cocogoose;
  text-align: center;
  font-weight: lighter;
}

footer .subscribe button {
  width: 60%;
  padding: 0.5em;
  border-radius: 20px;
  border-style: none;
  background-color: #77206F;
  color: #fff;
}

footer .subscribe h3 {
  text-align: center;
  font-family: asap;
  color: #66256C;
  font-size: 20px;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

footer .redes img {
  width: 3em;
  height: 3em;
}

#home {
  background-image: url(../img/amarilloAbajo.svg);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .intro .logoHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6em;
  margin-left: 2em;
  gap: 8em;
}

#home .intro .logoHome h2 {
  font-family: cocogoose;
  color: #fff;
  text-align: center;
}

#home .intro .gifHome {
  position: relative;
  left: 15%;
}

#home .intro .gifHome img {
  border-radius: 50px;
}

#nosotros {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #edc519;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nosotros h2 {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  font-family: asap-semiB;
  letter-spacing: 1px;
}

#nosotros div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

#nosotros div .infoNosotros {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2em;
  color: #fff;
}

#nosotros div .infoNosotros h3 {
  font-family: asap-semiB;
  letter-spacing: 1px;
}

#nosotros div .infoNosotros p {
  text-align: justify;
  padding: 1em;
  font-family: "Poppins", sans-serif;
}

#nosotros div .infoNosotros .carousel {
  width: 90%;
}

#nosotros div .infoNosotros .carousel .carousel-inner {
  width: 90%;
}

#nosotros div .infoNosotros .carousel .carousel-inner .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2em;
}

#nosotros div .equipo {
  margin-top: 2em;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "equipo1 . equipo2" ". equipo3 .";
  row-gap: 1em;
}

#nosotros div .equipo .equipo1, #nosotros div .equipo .equipo2, #nosotros div .equipo .equipo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: equipo1;
  width: 12em;
  height: 14em;
  background-color: #fff;
  border-radius: 30px;
}

#nosotros div .equipo .equipo1 img, #nosotros div .equipo .equipo2 img, #nosotros div .equipo .equipo3 img {
  width: 80%;
}

#nosotros div .equipo .equipo2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: equipo2;
}

#nosotros div .equipo .equipo3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: equipo3;
}

#servicios {
  height: 650px;
  background-image: url(../img/amarilloArriba.svg);
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  gap: 2em;
}

#servicios h2 {
  margin-top: 1em;
  text-align: center;
  color: #fff;
  font-family: asap-semiB;
  letter-spacing: 1.5px;
}

#servicios .cardServ {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "eCommerce tiendaNube redes publiRedes" "eCommerce emailMkt redes diseño";
  row-gap: 0.5em;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  padding: 0%;
}

#servicios .cardServ .eCommerce, #servicios .cardServ .tiendaNube, #servicios .cardServ .redes, #servicios .cardServ .publiRedes, #servicios .cardServ .emailMkt, #servicios .cardServ .diseño {
  margin-top: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: eCommerce;
  height: 30em;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  text-align: center;
  border-radius: 30px;
  border-style: none;
  background-color: #fff;
  box-shadow: 1px 2px 21px 4px rgba(66, 64, 64, 0.75);
  -webkit-box-shadow: 1px 2px 21px 4px rgba(66, 64, 64, 0.75);
  -moz-box-shadow: 1px 2px 21px 4px rgba(66, 64, 64, 0.75);
}

#servicios .cardServ .eCommerce h3, #servicios .cardServ .tiendaNube h3, #servicios .cardServ .redes h3, #servicios .cardServ .publiRedes h3, #servicios .cardServ .emailMkt h3, #servicios .cardServ .diseño h3 {
  font-family: asap-semiB;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  width: 85%;
  border-radius: 20px;
  padding: 0.5em;
  background: rgba(236, 31, 82, 0.775);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#servicios .cardServ .eCommerce .back, #servicios .cardServ .tiendaNube .back, #servicios .cardServ .redes .back, #servicios .cardServ .publiRedes .back, #servicios .cardServ .emailMkt .back, #servicios .cardServ .diseño .back {
  visibility: hidden;
}

#servicios .cardServ .eCommerce:hover, #servicios .cardServ .tiendaNube:hover, #servicios .cardServ .redes:hover, #servicios .cardServ .publiRedes:hover, #servicios .cardServ .emailMkt:hover, #servicios .cardServ .diseño:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

#servicios .cardServ .eCommerce:hover .front, #servicios .cardServ .tiendaNube:hover .front, #servicios .cardServ .redes:hover .front, #servicios .cardServ .publiRedes:hover .front, #servicios .cardServ .emailMkt:hover .front, #servicios .cardServ .diseño:hover .front {
  visibility: hidden;
}

#servicios .cardServ .eCommerce:hover .back, #servicios .cardServ .tiendaNube:hover .back, #servicios .cardServ .redes:hover .back, #servicios .cardServ .publiRedes:hover .back, #servicios .cardServ .emailMkt:hover .back, #servicios .cardServ .diseño:hover .back {
  visibility: visible;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .cardServ .tiendaNube {
  margin-top: 0%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tiendaNube;
  height: 15em;
}

#servicios .cardServ .redes {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: redes;
}

#servicios .cardServ .publiRedes {
  margin-top: 0%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: publiRedes;
  height: 15em;
}

#servicios .cardServ .emailMkt {
  margin-top: 0%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: emailMkt;
  height: 15em;
}

#servicios .cardServ .diseño {
  margin-top: 0%;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: diseño;
  height: 15em;
}
/*# sourceMappingURL=style.css.map */